.group-table-item {
  margin: 1.5rem;
}

table {
  border-top: 2rem var(--champions-league-color) solid;
  width: 40rem;
}

th.mat-sort-header-sorted {
  color: black;
}

.groups-group-table-header {
  color: #fff;
  margin: 0 0 -2rem 2rem;
  font-size: 1rem;
}

.club-data {
  display: flex;
  align-items: center;
}

.table-club-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-row-data {
  width: 2rem;
}

.table-row-club-name {
  width: 8rem;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0.8rem !important;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}
