<div class="navbar--container">
  <div class="navbar-left text--white">
    <div class="navbar-left-brand" (click)="navigateTo('home')">
      <img src="https://img.uefa.com/imgml/uefacom/ucl/logo.svg" class="navbar-left-logo" alt="">
      <span class="navbar-left-title text--white">Champions League</span>
    </div>
  </div>
  <div class="navbar-right">
<!--
    <button mat-button class="navbar-button">
      <span class="material-icons moon-icon">nightlight_round</span>
    </button>
-->
    <button mat-button class="navbar-button" (click)="navigateTo('home')">
      <span class="material-icons">home</span>
      <span class="button-title">Home</span>
    </button>
    <button mat-button class="navbar-button" (click)="navigateTo('config')">
      <span class="material-icons">settings</span>
      Config
    </button>
    <button mat-button class="navbar-button" (click)="navigateTo('about')">
      <span class="material-icons">info</span>
      Über
    </button>
  </div>
</div>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="navbar-left-brand" (click)="navigateTo('home')">
          <img src="https://img.uefa.com/imgml/uefacom/ucl/logo.svg" class="navbar-left-logo" alt="">
          <span class="navbar-left-title text--white">Champions League</span>
        </div>
        <span class="material-icons text--white  ">menu</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="navbar-right">
<!--
      <button mat-button class="navbar-button">
        <span class="material-icons moon-icon">nightlight_round</span>
      </button>
-->
      <button mat-button class="navbar-button" (click)="navigateTo('home')">
        <span class="material-icons">home</span>
        <span class="button-title">Home</span>
      </button>
      <button mat-button class="navbar-button" (click)="navigateTo('config')">
        <span class="material-icons">settings</span>
        Config
      </button>
      <button mat-button class="navbar-button" (click)="navigateTo('about')">
        <span class="material-icons">info</span>
        Über
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
