<div class="match__container">
  <div>
    <div *ngIf="!matchDetails.round.includes('Gruppenphase')">
      {{matchDetails.round}}
    </div>
    <div *ngIf="matchDetails.round.includes('Gruppenphase')">
      Gruppe: {{matchDetails.group}}
    </div>
    {{matchDetails.matchDate | date: "dd.MM.yyyy"}}
  </div>
  {{matchDetails.homeClub.name}}
  <img src="{{matchDetails.homeClub.logo}}" alt="" class="club__logo--small">
  <form>
    <mat-form-field class="match-score__input">
      <input matInput min="0" max="99" pattern="([0-9]{2})" [(ngModel)]="matchDetails.homeClub.goals"
             [ngModelOptions]="{standalone: true}"
             [disabled]="inputNotActive"
             class="match-score__input__text">
    </mat-form-field>
  </form>
  :
  <form>
    <mat-form-field class="match-score__input">
      <input matInput min="0" max="99" pattern="([0-9]{2})"
             [(ngModel)]="matchDetails.awayClub.goals"
             [ngModelOptions]="{standalone: true}"
             [disabled]="inputNotActive"
             class="match-score__input__text">
    </mat-form-field>
  </form>
  <img src="{{matchDetails.awayClub.logo}}" alt="" class="club__logo--small">
  {{matchDetails.awayClub.name}}
  <div>
    <button mat-stroked-button color="primary" class="match-details__buttons" (click)="editClicked()"
            [disabled]="!inputNotActive">
      <span class="material-icons">edit</span></button>
    <button mat-stroked-button color="primary" class="match-details__buttons" (click)="saveClicked()"
            [disabled]="inputNotActive">
      <span class="material-icons">save</span></button>
  </div>
</div>
