.group-round--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.select-round-combobox {
  margin-left: 1rem;
}

.matches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matches--container {
  //border: solid var(--champions-league-color) 0.2rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  width: 70rem;
}

::ng-deep .select-round-combobox .mat-form-field-wrapper .mat-form-field-underline {
  bottom: 0 !important;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: 0;
  padding: 0;
}

.runde-title {
  margin: 0;
}
