html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --champions-league-color: hsl(225, 94%, 20%);
}

.navbar-left-select-season .mat-select-value, .navbar-left-select-season .mat-select-arrow {
  color: white;
}

.navbar-left-select-season .mat-form-field-wrapper {
  padding-bottom: 0;
}

.navbar-left-select-season .mat-form-field-underline {
  display: none;
}

.text-color-white {
  color: #fff;
}

.club-avatar-small {
  height: 1.8rem;
  margin-right: .3rem;
}
