html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --champions-league-color: hsl(225, 94%, 20%);
  --font--weight--light: 'Comfortaa', cursive;
  --font--weight--bold: 'Teko', sans-serif;
}

.text--white {
  color: #fff;
}

// In styles.css weil es wird global verwendet
.club__logo--small {
  height: 1.8rem;
  margin-right: .3rem;
}
