html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --champions-league-color: hsl(225, 94%, 20%);
}

.text-color-white {
  color: #fff;
}

.club-logo-small {
  height: 1.8rem;
  margin-right: .3rem;
}
