//Header
.select-season {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.select-club {
  margin: 0 0 1rem 1rem;

  &__button {
    padding: 0.2rem 0;
    min-width: 15rem;

  }
}

.club__logo {
  &__name {
    display: flex;
    align-items: center;
  }

  &__container {
    display: flex;
    justify-content: center;
    width: 3rem;
  }

}

//Ausgewählter Verein
.selected-club {
  &__info__container {
    display: flex;
    flex-direction: column;
  }

  &__logo__name, &__matches__table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    height: 13rem;
  }

  &__info__name {
    font-family: var(--font--weight--light);
    font-size: 3rem;
    margin-left: 5rem;
  }

  &__matches__table {
    align-items: flex-start;
  }

}

// Matches - Groups Container
.matches-groups__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.matches-rounds__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.select-round__title {
  margin: 0 1rem 0 0;
}

.groups--container {
  display: flex;
  flex-direction: column;
}
